# Cartographie des plaintes dans l'Etat de new York

In [5]:
import geopandas as gpd
import pandas as pd

In [36]:
pathgeo = "https://raw.githubusercontent.com/ndrettakis/Police-Misconduct-Stat-app/main/police_precincts.geojson"
pathdata="https://raw.githubusercontent.com/ndrettakis/Police-Misconduct-Stat-app/main/allegations_202007271729.xlsx"
precinct = gpd.read_file(pathgeo)
df=pd.read_excel(pathdata)
df.columns= df.loc[0]
df=df.drop(0)
df=df[df['year_received']>=2000]
df=df[df['precinct']!=("1000"and )]

In [39]:
df['precinct'].value_counts()

75      2096
73      1148
44      1086
46      1073
67      1055
        ...
66        84
17        74
111       36
22        12
1000       3
Name: precinct, Length: 78, dtype: int64

In [37]:
df_nb_by_precinct=pd.DataFrame(df['precinct'].value_counts())

In [38]:
df_nb_by_precinct

      precinct
75        2096
73        1148
44        1086
46        1073
67        1055
...        ...
66          84
17          74
111         36
22          12
1000         3

[78 rows x 1 columns]