In [ ]:
!pip pyAgrum

ERROR: unknown command "pyAgrum"

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math
#import pyAgrum as gum
import matplotlib.pyplot as plt
#import pyAgrum.lib.notebook as gnb
import plotly.express as px
import plotly as py

In [ ]:
path = "allegations.csv"
df=pd.read_csv(path,sep=",")
df.shape

(33358, 27)

In [ ]:
df.columns

Index(['unique_mos_id', 'first_name', 'last_name', 'command_now', 'shield_no',
       'complaint_id', 'month_received', 'year_received', 'month_closed',
       'year_closed', 'command_at_incident', 'rank_abbrev_incident',
       'rank_abbrev_now', 'rank_now', 'rank_incident', 'mos_ethnicity',
       'mos_gender', 'mos_age_incident', 'complainant_ethnicity',
       'complainant_gender', 'complainant_age_incident', 'fado_type',
       'allegation', 'precinct', 'contact_reason', 'outcome_description',
       'board_disposition'],
      dtype='object')

In [ ]:
df2=df.drop(['first_name','last_name','shield_no','command_now','complaint_id','unique_mos_id','rank_abbrev_now','rank_now','allegation','precinct','contact_reason','outcome_description'],axis=1)

In [ ]:
df2

       month_received  ...                         board_disposition
0                   7  ...  Substantiated (Command Lvl Instructions)
1                  11  ...                   Substantiated (Charges)
2                  11  ...                   Substantiated (Charges)
3                   7  ...                   Substantiated (Charges)
4                   8  ...      Substantiated (Command Discipline A)
...               ...  ...                                       ...
33353               8  ...                           Unsubstantiated
33354               8  ...                           Unsubstantiated
33355               8  ...       Substantiated (Formalized Training)
33356               8  ...       Substantiated (Formalized Training)
33357               8  ...       Substantiated (Formalized Training)

[33358 rows x 15 columns]

In [ ]:
df2 = df2.drop(df2[df.board_disposition=='Unsubstantiated'].index)

In [ ]:
df2

       month_received  ...                         board_disposition
0                   7  ...  Substantiated (Command Lvl Instructions)
1                  11  ...                   Substantiated (Charges)
2                  11  ...                   Substantiated (Charges)
3                   7  ...                   Substantiated (Charges)
4                   8  ...      Substantiated (Command Discipline A)
...               ...  ...                                       ...
33351               7  ...                                Exonerated
33352               8  ...                                Exonerated
33355               8  ...       Substantiated (Formalized Training)
33356               8  ...       Substantiated (Formalized Training)
33357               8  ...       Substantiated (Formalized Training)

[17910 rows x 15 columns]

In [ ]:
l=list(df2.board_disposition)

In [ ]:
substantiated=[]
for i in l:
  if i=='Exonerated':
    substantiated.append(0)
  else: substantiated.append(1)

In [ ]:
df2['substantiated']=substantiated

In [ ]:
df2=df2.drop(['board_disposition'],axis=1)

In [ ]:
df2=df2.dropna()

In [ ]:
df2.complainant_gender

0        Female
1          Male
2          Male
3          Male
5          Male
          ...
33351    Female
33352      Male
33355      Male
33356      Male
33357      Male
Name: complainant_gender, Length: 14636, dtype: object

In [ ]:
gender1=pd.get_dummies(df2['complainant_gender'])

In [ ]:
gender1

       Female  Gender non-conforming  ...  Transman (FTM)  Transwoman (MTF)
0           1                      0  ...               0                 0
1           0                      0  ...               0                 0
2           0                      0  ...               0                 0
3           0                      0  ...               0                 0
5           0                      0  ...               0                 0
...       ...                    ...  ...             ...               ...
33351       1                      0  ...               0                 0
33352       0                      0  ...               0                 0
33355       0                      0  ...               0                 0
33356       0                      0  ...               0                 0
33357       0                      0  ...               0                 0

[14636 rows x 6 columns]

In [ ]:
for i in gender1.columns:
  print(i)
  j='Complainant_'+i
  df2[j]=gender1[i]

Female
Gender non-conforming
Male
Not described
Transman (FTM)
Transwoman (MTF)

In [ ]:
df2

       month_received  ...  complainant_Transwoman (MTF)
0                   7  ...                             0
1                  11  ...                             0
2                  11  ...                             0
3                   7  ...                             0
5                   5  ...                             0
...               ...  ...                           ...
33351               7  ...                             0
33352               8  ...                             0
33355               8  ...                             0
33356               8  ...                             0
33357               8  ...                             0

[14636 rows x 21 columns]

In [ ]:
race1=pd.get_dummies(df2['complainant_ethnicity'])

In [ ]:
race1

       American Indian  Asian  Black  ...  Refused  Unknown  White
0                    0      0      1  ...        0        0      0
1                    0      0      1  ...        0        0      0
2                    0      0      1  ...        0        0      0
3                    0      0      1  ...        0        0      0
5                    0      0      0  ...        0        0      1
...                ...    ...    ...  ...      ...      ...    ...
33351                0      0      1  ...        0        0      0
33352                0      1      0  ...        0        0      0
33355                0      1      0  ...        0        0      0
33356                0      1      0  ...        0        0      0
33357                0      1      0  ...        0        0      0

[14636 rows x 8 columns]

In [ ]:
for i in race1.columns:
  print(i)
  j='Complainant_'+i
  df2[j]=race1[i]

American Indian
Asian
Black
Hispanic
Other Race
Refused
Unknown
White

In [ ]:
df2

       month_received  year_received  ...  complainant_Unknown  complainant_White
0                   7           2019  ...                    0                  0
1                  11           2011  ...                    0                  0
2                  11           2011  ...                    0                  0
3                   7           2012  ...                    0                  0
5                   5           2017  ...                    0                  1
...               ...            ...  ...                  ...                ...
33351               7           2019  ...                    0                  0
33352               8           2016  ...                    0                  0
33355               8           2016  ...                    0                  0
33356               8           2016  ...                    0                  0
33357               8           2016  ...                    0                  0

[14636 rows x 29 columns]

In [ ]:
gender2=pd.get_dummies(df2['mos_gender'])

In [ ]:
gender2

       F  M
0      0  1
1      0  1
2      0  1
3      0  1
5      1  0
...   .. ..
33351  0  1
33352  0  1
33355  0  1
33356  0  1
33357  0  1

[14636 rows x 2 columns]

In [ ]:
gender2=gender2.rename(columns={"F": "Officer_Female", "M": "Officer_Male"})

In [ ]:
gender2

       Officer_Female  Officer_Male
0                   0             1
1                   0             1
2                   0             1
3                   0             1
5                   1             0
...               ...           ...
33351               0             1
33352               0             1
33355               0             1
33356               0             1
33357               0             1

[14636 rows x 2 columns]

In [ ]:
for i in gender2.columns:
  print(i)
  df2[i]=gender2[i]

Officer_Female
Officer_Male

In [ ]:
df2

       month_received  year_received  ...  Officer_Female  Officer_Male
0                   7           2019  ...               0             1
1                  11           2011  ...               0             1
2                  11           2011  ...               0             1
3                   7           2012  ...               0             1
5                   5           2017  ...               1             0
...               ...            ...  ...             ...           ...
33351               7           2019  ...               0             1
33352               8           2016  ...               0             1
33355               8           2016  ...               0             1
33356               8           2016  ...               0             1
33357               8           2016  ...               0             1

[14636 rows x 31 columns]

In [ ]:
race2=pd.get_dummies(df2['mos_ethnicity'])

In [ ]:
race2

       American Indian  Asian  Black  Hispanic  White
0                    0      0      0         1      0
1                    0      0      0         0      1
2                    0      0      0         0      1
3                    0      0      0         0      1
5                    0      0      1         0      0
...                ...    ...    ...       ...    ...
33351                0      0      1         0      0
33352                0      0      0         0      1
33355                0      0      0         0      1
33356                0      0      0         0      1
33357                0      0      0         0      1

[14636 rows x 5 columns]

In [ ]:
for i in race2.columns:
  print(i)
  j='Officer_'+i
  df2[j]=race2[i]

American Indian
Asian
Black
Hispanic
White

In [ ]:
df2

       month_received  year_received  ...  Officer_Hispanic  Officer_White
0                   7           2019  ...                 1              0
1                  11           2011  ...                 0              1
2                  11           2011  ...                 0              1
3                   7           2012  ...                 0              1
5                   5           2017  ...                 0              0
...               ...            ...  ...               ...            ...
33351               7           2019  ...                 0              0
33352               8           2016  ...                 0              1
33355               8           2016  ...                 0              1
33356               8           2016  ...                 0              1
33357               8           2016  ...                 0              1

[14636 rows x 36 columns]

In [ ]:
rank=pd.get_dummies(df2['rank_incident'])

In [ ]:
rank

       Captain  Deputy Inspector  ...  Police Officer  Sergeant
0            0                 0  ...               1         0
1            0                 0  ...               1         0
2            0                 0  ...               1         0
3            0                 0  ...               1         0
5            0                 0  ...               0         1
...        ...               ...  ...             ...       ...
33351        0                 0  ...               1         0
33352        0                 0  ...               1         0
33355        0                 0  ...               1         0
33356        0                 0  ...               1         0
33357        0                 0  ...               1         0

[14636 rows x 7 columns]

In [ ]:
for i in rank.columns:
  print(i)
  df2[i]=rank[i]

Captain
Deputy Inspector
Detective
Inspector
Lieutenant
Police Officer
Sergeant

In [ ]:
df2

       month_received  year_received  ...  Police Officer  Sergeant
0                   7           2019  ...               1         0
1                  11           2011  ...               1         0
2                  11           2011  ...               1         0
3                   7           2012  ...               1         0
5                   5           2017  ...               0         1
...               ...            ...  ...             ...       ...
33351               7           2019  ...               1         0
33352               8           2016  ...               1         0
33355               8           2016  ...               1         0
33356               8           2016  ...               1         0
33357               8           2016  ...               1         0

[14636 rows x 43 columns]

In [ ]:
from datetime import date

def diff_dates(date1, date2):
    return abs(date2-date1).days

In [ ]:
difference=[]
for i in df2.values:
  m1=i[0]
  y1=i[1]
  m2=i[2]
  y2=i[3]
  d1 = date(y1,m1,1)
  d2 = date(y2,m2,1)
  result1 = diff_dates(d2, d1)
  difference.append(result1)

In [ ]:
df2['processing_days']=difference

In [ ]:
df2

       month_received  year_received  ...  Sergeant  processing_days
0                   7           2019  ...         0              305
1                  11           2011  ...         0              274
2                  11           2011  ...         0              274
3                   7           2012  ...         0              427
5                   5           2017  ...         1              153
...               ...            ...  ...       ...              ...
33351               7           2019  ...         0              305
33352               8           2016  ...         0              184
33355               8           2016  ...         0              184
33356               8           2016  ...         0              184
33357               8           2016  ...         0              184

[14636 rows x 44 columns]

In [ ]:
df2=df2.drop(['month_received','year_received','month_closed','year_closed','command_at_incident','rank_abbrev_incident','rank_incident','mos_ethnicity','mos_gender','complainant_ethnicity','complainant_gender'],axis=1)

In [ ]:
df2

       mos_age_incident  complainant_age_incident  ... Sergeant  processing_days
0                    32                      38.0  ...        0              305
1                    24                      26.0  ...        0              274
2                    24                      26.0  ...        0              274
3                    25                      45.0  ...        0              427
5                    50                      31.0  ...        1              153
...                 ...                       ...  ...      ...              ...
33351                40                      38.0  ...        0              305
33352                36                      21.0  ...        0              184
33355                36                      21.0  ...        0              184
33356                36                      21.0  ...        0              184
33357                36                      21.0  ...        0              184

[14636 rows x 33 columns]

In [ ]:
fado=pd.get_dummies(df2['fado_type'])

In [ ]:
fado

       Abuse of Authority  Discourtesy  Force  Offensive Language
0                       1            0      0                   0
1                       0            1      0                   0
2                       0            0      0                   1
3                       1            0      0                   0
5                       1            0      0                   0
...                   ...          ...    ...                 ...
33351                   1            0      0                   0
33352                   1            0      0                   0
33355                   1            0      0                   0
33356                   1            0      0                   0
33357                   1            0      0                   0

[14636 rows x 4 columns]

In [ ]:
for i in fado.columns:
  print(i)
  df2[i]=fado[i]

Abuse of Authority
Discourtesy
Force
Offensive Language

In [ ]:
df2

       mos_age_incident  complainant_age_incident  ... Force  Offensive Language
0                    32                      38.0  ...     0                   0
1                    24                      26.0  ...     0                   0
2                    24                      26.0  ...     0                   1
3                    25                      45.0  ...     0                   0
5                    50                      31.0  ...     0                   0
...                 ...                       ...  ...   ...                 ...
33351                40                      38.0  ...     0                   0
33352                36                      21.0  ...     0                   0
33355                36                      21.0  ...     0                   0
33356                36                      21.0  ...     0                   0
33357                36                      21.0  ...     0                   0

[14636 rows x 37 columns]

In [ ]:
df2=df2.drop(['fado_type'],axis=1)

In [ ]:
df2

       mos_age_incident  complainant_age_incident  ...  Force  Offensive Language
0                    32                      38.0  ...      0                   0
1                    24                      26.0  ...      0                   0
2                    24                      26.0  ...      0                   1
3                    25                      45.0  ...      0                   0
5                    50                      31.0  ...      0                   0
...                 ...                       ...  ...    ...                 ...
33351                40                      38.0  ...      0                   0
33352                36                      21.0  ...      0                   0
33355                36                      21.0  ...      0                   0
33356                36                      21.0  ...      0                   0
33357                36                      21.0  ...      0                   0

[14636 rows x 36 columns]

In [ ]:
df2.columns

Index(['mos_age_incident', 'complainant_age_incident', 'substantiated',
       'complainant_Female', 'complainant_Gender non-conforming',
       'complainant_Male', 'complainant_Not described',
       'complainant_Transman (FTM)', 'complainant_Transwoman (MTF)',
       'complainant_American Indian', 'complainant_Asian', 'complainant_Black',
       'complainant_Hispanic', 'complainant_Other Race', 'complainant_Refused',
       'complainant_Unknown', 'complainant_White', 'Officer_Female',
       'Officer_Male', 'Officer_American Indian', 'Officer_Asian',
       'Officer_Black', 'Officer_Hispanic', 'Officer_White', 'Captain',
       'Deputy Inspector', 'Detective', 'Inspector', 'Lieutenant',
       'Police Officer', 'Sergeant', 'processing_days', 'Abuse of Authority',
       'Discourtesy', 'Force', 'Offensive Language'],
      dtype='object')

In [ ]:
column_names = ["substantiated", "mos_age_incident", "Officer_Female","Officer_Male","Officer_American Indian","Officer_Asian","Officer_Black","Officer_Hispanic","Officer_White",'Captain',
       'Deputy Inspector', 'Detective', 'Inspector', 'Lieutenant',
       'Police Officer', 'Sergeant', 'processing_days', 'Abuse of Authority',
       'Discourtesy', 'Force', 'Offensive Language','complainant_age_incident','complainant_Female', 'complainant_Gender non-conforming',
       'complainant_Male', 'complainant_Not described',
       'complainant_Transman (FTM)', 'complainant_Transwoman (MTF)',
       'complainant_American Indian', 'complainant_Asian', 'complainant_Black',
       'complainant_Hispanic', 'complainant_Other Race', 'complainant_Refused',
       'complainant_Unknown','complainant_White']

In [ ]:
print(len(df2.columns),len(column_names))

36 36

In [ ]:
df2 = df2.reindex(columns=column_names)

In [ ]:
df2

       substantiated  mos_age_incident  ...  complainant_Unknown  complainant_White
0                  1                32  ...                    0                  0
1                  1                24  ...                    0                  0
2                  1                24  ...                    0                  0
3                  1                25  ...                    0                  0
5                  1                50  ...                    0                  1
...              ...               ...  ...                  ...                ...
33351              0                40  ...                    0                  0
33352              0                36  ...                    0                  0
33355              1                36  ...                    0                  0
33356              1                36  ...                    0                  0
33357              1                36  ...                    0                  0

[14636 rows x 36 columns]

In [ ]:
df2.to_csv("out.csv",index=False)

In [ ]:
##########################################################################################################################################################################

In [ ]:
gender1.describe()

In [ ]:
test=pd.DataFrame(l,substantiated)

In [ ]:
test

In [ ]:
substantiated

In [ ]:
fig=px.histogram(df, x='year_received')
fig.show()

In [ ]:
df_2014=df[df['year_received']==2014]
df5=pd.DataFrame(df_2014['unique_mos_id'].value_counts())
df5=df5.reset_index()
#fig =px.histogram(df5, x='unique_mos_id')
#fig.show()

m_2014=df5['unique_mos_id'].mean()
std_2014=df5['unique_mos_id'].std()

In [ ]:
df6=df5[df5['unique_mos_id']<(m+3*std)]
df6=df6[df6['unique_mos_id']>2]
id=df6['index'].values
len(id)

In [ ]:
df_old= df[df['year_closed']<2000]
df_new=df[df['year_closed']>=2000]
df_old.shape
df_old['mos_ethnicity'].describe()

In [ ]:
df2=pd.DataFrame(df_new['unique_mos_id'].value_counts())
df2=df2.reset_index()
#fig =px.histogram(df2, x='unique_mos_id')
#fig.show()
df2['unique_mos_id'].describe()
m=df2['unique_mos_id'].mean()
std=df2['unique_mos_id'].std()
print(m,std)

In [ ]:
df3=df2[df2['unique_mos_id']>10]
df3=df3[df3['unique_mos_id']<(m+3*std)]
id=df3['index'].values
id

In [ ]:
df_prone=df[df['unique_mos_id'].isin(id)]
#df_prone.to_excel("/Users/louisedubois/Desktop/statap/complaint_prone.xlsx")
df_prone

In [ ]:
df_prone['unique_mos_id'].value_counts()

In [ ]:
fig =px.histogram(df_prone, x='mos_age_incident',nbins=60)
fig.show()
df_prone['mos_age_incident'].describe()

In [ ]:
fig =px.histogram(df_prone, x='complainant_ethnicity',nbins=60)
fig.show()
df_prone['complainant_ethnicity'].describe()

In [ ]:
df_prone=df_prone[df_prone['complainant_age_incident']>0]
fig =px.histogram(df_prone, x='complainant_age_incident')
fig.show()
df_prone['complainant_age_incident'].describe()

In [ ]:
fig =px.histogram(df_prone, x='fado_type')
fig.show()
df_prone['fado_type'].describe()

In [ ]:
fig =px.histogram(df_prone, x='board_disposition')
fig.show()

In [ ]:
plt.figure(figsize=(15,8))
plt.hist(df['unique_mos_id'],bins=30000)

In [ ]:
plt.figure(figsize=(15,8))
plt.hist(df['year_received'],bins=35)

In [ ]:
nb_evol=df.groupby(['year_received','complainant_ethnicity'])['complaint_id'].count()

In [ ]:
df.groupby(['complainant_ethnicity'])['index'].count()

In [ ]:
plt.figure(figsize=(10,7))
sns.barplot(x =nb_evol["year_received"], y = df["complaint_id"])
#plt.xlabel('\nDate', fontsize=15, color='#c0392b')
#plt.ylabel("Hashrate mensuel en ES/s \n", fontsize=15, color='#c0392b')
#plt.title("Evolution du hashrate des pays entre 2019 et 2021\n", fontsize=18, color='#e74c3c')
plt.xticks(rotation=90)
plt.tight_layout()

In [ ]:
df_short=df.drop(columns=["unique_mos_id","first_name","last_name","complaint_id","outcome_description","contact_reason"])
df_short

In [ ]:
df_short.to_csv('/Users/louisedubois/Desktop/statap/bd.csv', index=False)
file = '/Users/louisedubois/Desktop/statap/bd.csv'
learner = gum.BNLearner(file)
bn = learner.learnBN()