In [ ]:
import pandas as pd

In [ ]:
path = "allegations.csv"
df=pd.read_csv(path,sep=",",engine='python')

df=df[df['year_received']>=2000]

In [ ]:
df

,unique_mos_id,first_name,last_name,command_now,shield_no,complaint_id,month_received,year_received,month_closed,year_closed,...,mos_age_incident,complainant_ethnicity,complainant_gender,complainant_age_incident,fado_type,allegation,precinct,contact_reason,outcome_description,board_disposition
0,10004,Jonathan,Ruiz,078 PCT,8409,42835,7,2019,5,2020,...,32,Black,Female,38.0,Abuse of Authority,Failure to provide RTKA card,78.0,Report-domestic dispute,No arrest made or summons issued,Substantiated (Command Lvl Instructions)
1,10007,John,Sears,078 PCT,5952,24601,11,2011,8,2012,...,24,Black,Male,26.0,Discourtesy,Action,67.0,Moving violation,Moving violation summons issued,Substantiated (Charges)
2,10007,John,Sears,078 PCT,5952,24601,11,2011,8,2012,...,24,Black,Male,26.0,Offensive Language,Race,67.0,Moving violation,Moving violation summons issued,Substantiated (Charges)
3,10007,John,Sears,078 PCT,5952,26146,7,2012,9,2013,...,25,Black,Male,45.0,Abuse of Authority,Question,67.0,PD suspected C/V of violation/crime - street,No arrest made or summons issued,Substantiated (Charges)
4,10009,Noemi,Sierra,078 PCT,24058,40253,8,2018,2,2019,...,39,NaN,NaN,16.0,Force,Physical force,67.0,Report-dispute,Arrest - other violation/crime,Substantiated (Command Discipline A)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33353,9992,Tomasz,Pulawski,078 PCT,2642,35671,8,2016,2,2017,...,36,Asian,Male,21.0,Discourtesy,Word,66.0,Moving violation,Moving violation summons issued,Unsubstantiated
33354,9992,Tomasz,Pulawski,078 PCT,2642,35671,8,2016,2,2017,...,36,Asian,Male,21.0,Abuse of Authority,Interference with recording,66.0,Moving violation,Moving violation summons issued,Unsubstantiated
33355,9992,Tomasz,Pulawski,078 PCT,2642,35671,8,2016,2,2017,...,36,Asian,Male,21.0,Abuse of Authority,Search (of person),66.0,Moving violation,Moving violation summons issued,Substantiated (Formalized Training)
33356,9992,Tomasz,Pulawski,078 PCT,2642,35671,8,2016,2,2017,...,36,Asian,Male,21.0,Abuse of Authority,Vehicle search,66.0,Moving violation,Moving violation summons issued,Substantiated (Formalized Training)
33357,9992,Tomasz,Pulawski,078 PCT,2642,35671,8,2016,2,2017,...,36,Asian,Male,21.0,Abuse of Authority,Frisk,66.0,Moving violation,Moving violation summons issued,Substantiated (Formalized Training)

In [ ]:
df_2014=df[df['year_received']==2014]

In [ ]:
Complaint_per_officer=pd.DataFrame(df_2014['unique_mos_id'].value_counts())
Complaint_per_officer=Complaint_per_officer.reset_index()
m_2014=Complaint_per_officer['unique_mos_id'].mean()
std_2014=Complaint_per_officer['unique_mos_id'].std()
Complaint_per_officer=Complaint_per_officer.rename(columns={"index":"unique_mos_id",'unique_mos_id':"number_complaint"})
Complaint_per_officer

     unique_mos_id  number_complaint
0            31972                27
1            15557                18
2            25785                17
3            32684                16
4              712                15
..             ...               ...
751          25004                 1
752          24961                 1
753          24959                 1
754          24940                 1
755           9979                 1

[756 rows x 2 columns]

In [ ]:
Complaint_per_officer_clean=Complaint_per_officer[Complaint_per_officer["number_complaint"]<(m_2014+3*std_2014)]
id=Complaint_per_officer_clean["unique_mos_id"].values
Complaint_prone=Complaint_per_officer_clean[Complaint_per_officer_clean["number_complaint"]>2]
id_p=Complaint_prone["unique_mos_id"].values
len(id_p)
Complaint_prone

     unique_mos_id  number_complaint
19           20982                10
20           11676                10
21           23890                 9
22           15046                 9
23           14681                 9
..             ...               ...
313          20922                 3
314          10303                 3
315           9619                 3
316           9671                 3
317          21199                 3

[299 rows x 2 columns]

In [ ]:
df_2014=df_2014[df_2014['unique_mos_id'].isin(id)]

df_2014=df_2014.merge(Complaint_prone, on="unique_mos_id")

df_2014=df_2014.drop(["complaint_id","month_received","year_received","month_closed","year_closed","complainant_ethnicity",
              "complainant_gender","complainant_age_incident","fado_type","allegation","precinct"
              ,"contact_reason","outcome_description","board_disposition"], axis=1)

In [ ]:
df_2014

,unique_mos_id,first_name,last_name,command_now,shield_no,command_at_incident,rank_abbrev_incident,rank_abbrev_now,rank_now,rank_incident,mos_ethnicity,mos_gender,mos_age_incident,number_complaint
0,10206,Emilio,Ortega,079 PCT,6216,079 PCT,POM,POM,Police Officer,Police Officer,Hispanic,M,49,5
1,10206,Emilio,Ortega,079 PCT,6216,079 PCT,POM,POM,Police Officer,Police Officer,Hispanic,M,49,5
2,10206,Emilio,Ortega,079 PCT,6216,079 PCT,POM,POM,Police Officer,Police Officer,Hispanic,M,49,5
3,10206,Emilio,Ortega,079 PCT,6216,079 PCT,POM,POM,Police Officer,Police Officer,Hispanic,M,49,5
4,10206,Emilio,Ortega,079 PCT,6216,079 PCT,POM,POM,Police Officer,Police Officer,Hispanic,M,49,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1326,9666,Sean,Claxton,077 PCT,0,067 PCT,SGT,LT,Lieutenant,Sergeant,Black,M,30,8
1327,9666,Sean,Claxton,077 PCT,0,067 PCT,SGT,LT,Lieutenant,Sergeant,Black,M,30,8
1328,9671,Patrick,Craig,077 PCT,26996,077 PCT,POM,POM,Police Officer,Police Officer,White,M,29,3
1329,9671,Patrick,Craig,077 PCT,26996,077 PCT,POM,POM,Police Officer,Police Officer,White,M,29,3
1330,9671,Patrick,Craig,077 PCT,26996,077 PCT,POM,POM,Police Officer,Police Officer,White,M,29,3

In [ ]:
df_2014.columns

Index(['unique_mos_id', 'first_name', 'last_name', 'command_now', 'shield_no',
       'command_at_incident', 'rank_abbrev_incident', 'rank_abbrev_now',
       'rank_now', 'rank_incident', 'mos_ethnicity', 'mos_gender',
       'mos_age_incident', 'number_complaint'],
      dtype='object')

In [ ]:
df_2014.shape

(1331, 14)

In [ ]:
df_2014

,unique_mos_id,first_name,last_name,command_now,shield_no,command_at_incident,rank_abbrev_incident,rank_abbrev_now,rank_now,rank_incident,mos_ethnicity,mos_gender,mos_age_incident,number_complaint
0,10206,Emilio,Ortega,079 PCT,6216,079 PCT,POM,POM,Police Officer,Police Officer,Hispanic,M,49,5
1,10206,Emilio,Ortega,079 PCT,6216,079 PCT,POM,POM,Police Officer,Police Officer,Hispanic,M,49,5
2,10206,Emilio,Ortega,079 PCT,6216,079 PCT,POM,POM,Police Officer,Police Officer,Hispanic,M,49,5
3,10206,Emilio,Ortega,079 PCT,6216,079 PCT,POM,POM,Police Officer,Police Officer,Hispanic,M,49,5
4,10206,Emilio,Ortega,079 PCT,6216,079 PCT,POM,POM,Police Officer,Police Officer,Hispanic,M,49,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1326,9666,Sean,Claxton,077 PCT,0,067 PCT,SGT,LT,Lieutenant,Sergeant,Black,M,30,8
1327,9666,Sean,Claxton,077 PCT,0,067 PCT,SGT,LT,Lieutenant,Sergeant,Black,M,30,8
1328,9671,Patrick,Craig,077 PCT,26996,077 PCT,POM,POM,Police Officer,Police Officer,White,M,29,3
1329,9671,Patrick,Craig,077 PCT,26996,077 PCT,POM,POM,Police Officer,Police Officer,White,M,29,3
1330,9671,Patrick,Craig,077 PCT,26996,077 PCT,POM,POM,Police Officer,Police Officer,White,M,29,3

In [ ]:
df_2014.sort_values(by=['unique_mos_id'])
df_2014.to_csv("df_2014.csv")

In [ ]:
df_2014.sort_values(by=['unique_mos_id'])

,unique_mos_id,first_name,last_name,command_now,shield_no,command_at_incident,rank_abbrev_incident,rank_abbrev_now,rank_now,rank_incident,mos_ethnicity,mos_gender,mos_age_incident,number_complaint
789,28,Jason,Bianchini,001 PCT,4743,104 PCT,POM,SGT,Sergeant,Police Officer,Hispanic,M,30,4
791,28,Jason,Bianchini,001 PCT,4743,104 PCT,POM,SGT,Sergeant,Police Officer,Hispanic,M,30,4
792,28,Jason,Bianchini,001 PCT,4743,104 PCT,POM,SGT,Sergeant,Police Officer,Hispanic,M,30,4
790,28,Jason,Bianchini,001 PCT,4743,104 PCT,POM,SGT,Sergeant,Police Officer,Hispanic,M,30,4
907,319,Calvin,Searcy,005 PCT,4349,005 PCT,POM,POM,Police Officer,Police Officer,Black,M,35,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,36248,Steve,Higgins,WTC CMD,7734,PSA 8,POM,POM,Police Officer,Police Officer,Black,M,39,4
1091,36248,Steve,Higgins,WTC CMD,7734,PSA 8,POM,POM,Police Officer,Police Officer,Black,M,39,4
1096,36339,Jonathan,Trossi,WTC CMD,7606,PSA 3,POM,POM,Police Officer,Police Officer,Asian,M,26,3
1095,36339,Jonathan,Trossi,WTC CMD,7606,PSA 3,POM,POM,Police Officer,Police Officer,Asian,M,26,3
1094,36339,Jonathan,Trossi,WTC CMD,7606,PSA 3,POM,POM,Police Officer,Police Officer,Asian,M,26,3

In [ ]:
ages=pd.DataFrame(df_2014[['unique_mos_id','mos_age_incident']])

In [ ]:
ages=ages.reset_index()

In [ ]:
ages=ages.sort_values(by="unique_mos_id")

In [ ]:
ages.unique_mos_id[1]

10206

In [ ]:
ages

      index  unique_mos_id  mos_age_incident
789     789             28                30
791     791             28                30
792     792             28                30
790     790             28                30
907     907            319                35
...     ...            ...               ...
1090   1090          36248                39
1091   1091          36248                39
1096   1096          36339                26
1095   1095          36339                26
1094   1094          36339                26

[1331 rows x 3 columns]

In [ ]:
ages.drop_duplicates()

      index  unique_mos_id  mos_age_incident
789     789             28                30
791     791             28                30
792     792             28                30
790     790             28                30
907     907            319                35
...     ...            ...               ...
1090   1090          36248                39
1091   1091          36248                39
1096   1096          36339                26
1095   1095          36339                26
1094   1094          36339                26

[1331 rows x 3 columns]

In [ ]:
for i in range(len(ages["mos_age_incident"])-1):
  if ages.unique_mos_id[i]==ages.unique_mos_id[i+1]:
    age=ages.mos_age_incident[i]
    ages.mos_age_incident[i+1]=age
    print(i)

In [ ]:
ages

      index  unique_mos_id  mos_age_incident
789     789             28                30
791     791             28                30
792     792             28                30
790     790             28                30
907     907            319                35
...     ...            ...               ...
1090   1090          36248                39
1091   1091          36248                39
1096   1096          36339                26
1095   1095          36339                26
1094   1094          36339                26

[1331 rows x 3 columns]

In [ ]:
ages=ages.drop("index",axis=1)

In [ ]:
ages.to_csv("test.csv")

In [ ]:
ages=ages.sort_values(by="unique_mos_id")
ages

      unique_mos_id  mos_age_incident
789              28                30
791              28                30
792              28                30
790              28                30
907             319                35
...             ...               ...
1092          36248                39
1091          36248                39
1095          36339                26
1096          36339                26
1094          36339                26

[1331 rows x 2 columns]

In [ ]:
df_2014.sort_values(by="unique_mos_id")
df_2014

,unique_mos_id,first_name,last_name,command_now,shield_no,command_at_incident,rank_abbrev_incident,rank_abbrev_now,rank_now,rank_incident,mos_ethnicity,mos_gender,mos_age_incident,number_complaint
0,10206,Emilio,Ortega,079 PCT,6216,079 PCT,POM,POM,Police Officer,Police Officer,Hispanic,M,49,5
1,10206,Emilio,Ortega,079 PCT,6216,079 PCT,POM,POM,Police Officer,Police Officer,Hispanic,M,49,5
2,10206,Emilio,Ortega,079 PCT,6216,079 PCT,POM,POM,Police Officer,Police Officer,Hispanic,M,49,5
3,10206,Emilio,Ortega,079 PCT,6216,079 PCT,POM,POM,Police Officer,Police Officer,Hispanic,M,49,5
4,10206,Emilio,Ortega,079 PCT,6216,079 PCT,POM,POM,Police Officer,Police Officer,Hispanic,M,49,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1326,9666,Sean,Claxton,077 PCT,0,067 PCT,SGT,LT,Lieutenant,Sergeant,Black,M,30,8
1327,9666,Sean,Claxton,077 PCT,0,067 PCT,SGT,LT,Lieutenant,Sergeant,Black,M,30,8
1328,9671,Patrick,Craig,077 PCT,26996,077 PCT,POM,POM,Police Officer,Police Officer,White,M,29,3
1329,9671,Patrick,Craig,077 PCT,26996,077 PCT,POM,POM,Police Officer,Police Officer,White,M,29,3
1330,9671,Patrick,Craig,077 PCT,26996,077 PCT,POM,POM,Police Officer,Police Officer,White,M,29,3

In [ ]:
df_2014["officer_age"]=ages.mos_age_incident
df_2014=df_2014.drop("mos_age_incident",axis=1)

In [ ]:
df_2014

,unique_mos_id,first_name,last_name,command_now,shield_no,command_at_incident,rank_abbrev_incident,rank_abbrev_now,rank_now,rank_incident,mos_ethnicity,mos_gender,number_complaint,officer_age
0,10206,Emilio,Ortega,079 PCT,6216,079 PCT,POM,POM,Police Officer,Police Officer,Hispanic,M,5,49
1,10206,Emilio,Ortega,079 PCT,6216,079 PCT,POM,POM,Police Officer,Police Officer,Hispanic,M,5,49
2,10206,Emilio,Ortega,079 PCT,6216,079 PCT,POM,POM,Police Officer,Police Officer,Hispanic,M,5,49
3,10206,Emilio,Ortega,079 PCT,6216,079 PCT,POM,POM,Police Officer,Police Officer,Hispanic,M,5,49
4,10206,Emilio,Ortega,079 PCT,6216,079 PCT,POM,POM,Police Officer,Police Officer,Hispanic,M,5,49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1326,9666,Sean,Claxton,077 PCT,0,067 PCT,SGT,LT,Lieutenant,Sergeant,Black,M,8,30
1327,9666,Sean,Claxton,077 PCT,0,067 PCT,SGT,LT,Lieutenant,Sergeant,Black,M,8,30
1328,9671,Patrick,Craig,077 PCT,26996,077 PCT,POM,POM,Police Officer,Police Officer,White,M,3,29
1329,9671,Patrick,Craig,077 PCT,26996,077 PCT,POM,POM,Police Officer,Police Officer,White,M,3,29
1330,9671,Patrick,Craig,077 PCT,26996,077 PCT,POM,POM,Police Officer,Police Officer,White,M,3,29

In [ ]:
df_2014=df_2014.drop_duplicates()
df_2014

,unique_mos_id,first_name,last_name,command_now,shield_no,command_at_incident,rank_abbrev_incident,rank_abbrev_now,rank_now,rank_incident,mos_ethnicity,mos_gender,number_complaint,officer_age
0,10206,Emilio,Ortega,079 PCT,6216,079 PCT,POM,POM,Police Officer,Police Officer,Hispanic,M,5,49
5,10265,Kieran,Tracy,079 PCT,1034,112 PCT,POM,SGT,Sergeant,Police Officer,White,M,5,39
10,10303,Daniel,Roman,081 DET,1267,088 PCT,POM,DT3,Detective,Police Officer,Hispanic,M,3,27
13,10436,Michael,Miller,081 PCT,2951,081 PCT,SSA,SSA,Sergeant,Sergeant,White,M,8,41
21,10591,Adam,Dumelle,083 PCT,271,079 PCT,POM,SGT,Sergeant,Police Officer,White,M,9,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1302,9396,Daniel,Sitruk,075 PCT,21263,075 PCT,POM,POM,Police Officer,Police Officer,White,M,6,32
1308,9402,Kyle,Stanley,075 PCT,3809,075 PCT,POM,POM,Police Officer,Police Officer,White,M,9,37
1317,9619,Clifford,Louis,077 DET,2793,071 PCT,SGT,SGT,Sergeant,Sergeant,Black,M,3,38
1320,9666,Sean,Claxton,077 PCT,0,067 PCT,SGT,LT,Lieutenant,Sergeant,Black,M,8,30
1328,9671,Patrick,Craig,077 PCT,26996,077 PCT,POM,POM,Police Officer,Police Officer,White,M,3,29

In [ ]:
df_2014.to_csv("test 2014.csv")

In [ ]:
#il reste desduplicates de policiers qui ont changé de grade/precinct dans une même année, au nombre de 9